.findRecipeContent {
    padding: 0 10px 15px 10px;
    text-align: right;
}
.findRecipeContent .ingredientLine {
    display: flex;
    justify-content: space-between;
    margin: 0 0 10px 0;
}
.findRecipeContent label {
    font-family: Roboto;
    font-size: 12px;
    color: #be0063;
}
.findRecipeContent input[type="text"] {
    width: 60%;
}
.findRecipeContent .components-buttonSearch {
    padding: 2px 8px;
    font-size: 18px;
}



/*** THEME NOIR ET BLANC ***/
.light-bg .findRecipeContent {
    padding: 0 0 15px 0;
}
.light-bg .ingredientLine {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
}
.light-bg .findRecipeContent label {
    margin-bottom: 0.5em;
    font-family: OpenSans, sans-serif;
    font-size: 13px;
    text-align: left;
    color: #999;
}
.light-bg input[type="text"] {
    width: 100%;
    padding: 5px;
    color: #999;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
