.topMenu {
    height: 50px;
    background: url('../../../assets/images/fond_menu.png') no-repeat 139% center;
    padding: 23px 0;
}
.topMenu ul {
    height: inherit;
    float: right;
    list-style: none;
    padding: 0;
    margin: 0 18% 0 0;
}
.topMenu ul li {
    height: inherit;
    float: left;
    padding: 10px;
    box-sizing: border-box;
    font-family: OpenSansBold;
}
.topMenu ul li a {
    display: inline-block;
    padding: 0 14px;
    font-size: 14px;
    line-height: 30px;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
}
.topMenu ul li:hover a {
    background-color: #000000;
}
.topMenu ul li a.active, .topMenu ul li a:hover {
    background-color: #bb0963;
    border-radius: 5px;
}


/*** THEME NOIR ET BLANC ***/
.light-bg .topMenu {
    height: 40px;
    padding: 0;
    background-image: none;
    border-bottom: 1px solid #333;
}
.light-bg .topMenu ul {
    float: left;
    margin: 0 0 0 20%;
}
.light-bg .topMenu ul li {
    padding: 0;
    font-family: OpenSans, sans-serif;
}
.light-bg .topMenu ul li a {
    padding: 0 10px;
    line-height: 40px;
    border-left: 1px solid #333;
    font-size: 11px;
    color: #999;
}
.light-bg .topMenu ul li a:hover {
    background-color: #292929;
    color: #FFF;
    transition: background-color 1s, color 1s;
}
.light-bg .topMenu ul li:last-child a {
    border-right: 1px solid #333;
}
