.socialNetworkContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.socialNetworkContainer .modules {
    width: 44%;
}
.socialNetworkContainer .moduleTitle {
    margin: 0;
    padding-bottom: 5px;
    margin-bottom: 15px;
    color: #be0063;
    border-bottom: 1px solid #be0063;
    font-family: Roboto, sans-serif;
}
.home .leftContent {
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}


/********** CAROUSEL **************/
.home .carouselWrapper {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
}
.home .carouselContainer {
    flex: 0.8;
    overflow: hidden;
}
.home .ad {
    position: relative;
    flex: 0.2;
}
.home .ad img {
    position: absolute;
    right: 0;
    width: 75%;
}
