.socialNetworkContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.socialNetworkContainer .modules {
    width: 44%;
}
.socialNetworkContainer .moduleTitle {
    margin: 0;
    padding-bottom: 5px;
    margin-bottom: 15px;
    color: #be0063;
    border-bottom: 1px solid #be0063;
    font-family: Roboto, sans-serif;
}
.home .printPost {
    width: 70%;
    margin: 0;
    padding-top: 10px;
    border-top: 1px solid #ddd;
    font-family: Roboto, sans-serif;
    font-size: 9pt;
    font-weight: 700;
    color: #333;
}
.home .printSocialMedias {
    display: flex;
    justify-content: left;
    padding: 0;
}
.home .printSocialMedias .socialMediaItem {
    display: inline-block;
}
.home .printSocialMedias .socialMediaItem a {
    background-color: #fff;
}