.newsletter_container {
    padding-bottom: 20px;
}

.newsletter_container img {
    display: block;
    width: 100%;
}
.newsletter_container .components-input {
    width: calc(100% - 14px);
    margin: 10px 7px 20px 7px;
}
.newsletter_container .components-buttonSearch {
    padding: 5px;
    margin-left: 7px;
    font-size: 16px;
}



/*** THEME NOIR ET BLANC ***/
.light-bg .newsletter_container .components-input {
    width: 100%;
    margin: 0;
    border: 1px solid #ccc;
}
.light-bg .newsletter_container .components-buttonSearch {
    margin: 20px 0 0 0;
    border-top: 2px outset #ddd;
    border-bottom: 2px outset #ddd;
    border-left: 2px outset #ddd;
    border-right: 2px outset #ddd;
    font-family: OpenSans, sans-serif;
    font-size: 13px;
    font-weight: 400;
    background-color: #ddd;
    color: #999;
    text-transform: none;
}
