.searchModuleContainer {
    padding-bottom: 7px;
}
.searchModuleContainer .inputContainer::after {
    content: "";
    display: block;
    clear: both;
}
.searchModuleContainer .components-input {
    width: 84%;
    margin-left: 7px;
}
.searchModuleContainer .components-buttonSearch {
    font-family: FontAwesome;
    width: 35px;
    height: 35px;
    margin-left: 2px;
}


/*** THEME NOIR ET BLANC ***/
.light-bg .searchModuleContainer .components-input {
    margin: 0;
    width: 88%;
    float: left;
    border-color: #ccc;
    border-right: 0;
}
.light-bg .searchModuleContainer .components-buttonSearch {
    float: left;
    color: #999;
    background-color: transparent;
    margin: 0;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.light-bg .searchModuleContainer .components-buttonSearch:hover {
    cursor: pointer;
}
