.whoAmIContainer {
    padding: 0 4% 30px 4%;
}
.whoAmIContainer img {
    display: block;
    width: 100%;
    margin: 20px 0 40px 0;
}
.whoAmIContainer .name, .whoAmIContainer .hobbies {
    display: block;
    text-align: center;
    font-family: Roboto;
    line-height: 1.555em;
}
.whoAmIContainer .name {
    color: #993366;
    font-weight: 700;
}
.whoAmIContainer .hobbies {
    color: #333;
    font-weight: 400;
}
.whoAmIContainer .myStory {
    margin: 0;
    color: #78626c;
    font-size: 12px;
    line-height: 16px;
}
.whoAmIContainer .myStory strong {
    font-weight: 700;
}
.whoAmIContainer .myStory a {
    text-decoration: none;
    color: #be0063;
}



/*** THEME NOIR ET BLANC ***/
.light-bg .whoAmIContainer {
    margin-top: 30px;
    padding: 0;
}
.light-bg .whoAmIContainer img {
    margin: 0 0 10px 0;
}
.light-bg .whoAmIContainer .name,
.light-bg .whoAmIContainer .hobbies {
    font-size: 12px;
}
.light-bg .whoAmIContainer .myStory {
    color: #999;
    font-size: 13px;
}
.light-bg .whoAmIContainer .myStory a {
    color: #4a86b8;
}
.light-bg .whoAmIContainer .myStory a:hover {
    color: #333;
}
