.lastPostsContainer {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin-top: 5px;
    justify-content: space-between;
}
.lastPostsContainer .post {
    width: 20%;
    background-color: #FFFFFF;
}
.post img {
    display: block;
    width: 100%;
}
.postContainer {
    margin: 0;
    padding: 20px 15px;
}
.lastPostsContainer .postCategories {
    display: block;
    height: 44px;
    margin-bottom: 10px;
    padding: 5px;
    min-height: 44px;
    font-size: 13px;
    box-sizing: border-box;
    color: #FFF;
    text-align: center;
    text-transform: uppercase;
    background-color: #cfa4b3;
    overflow: hidden;
}
.postLink {
    color: #be0063;
    font-family: OpenSansBold, sans-serif;
    font-size: 13px;
    text-decoration: none;
}
.postLink:hover {
    text-decoration: underline;
}
.postExcerpt {
    font-size: 12px;
}
.postDate {
    color: #cfa4b3;
    font-size: 13px;
    text-transform: uppercase;
    text-align: center;
}
