/*.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/

/* FONTS */
@font-face {
    font-family: 'OpenSans';
    src: url('./public/font/OpenSans.woff2');
}
@font-face {
    font-family: 'OpenSansBold';
    src: url('./public/font/OpenSansBold.woff2');
}
@font-face {
    font-family: 'RobotoBold';
    src: url('./public/font/RobotoSlabBold.woff2');
}
@font-face {
    font-family: 'Roboto';
    src: url('./public/font/RobotoSlab.woff2');
}

body {
    margin: 0;
    padding: 0;
    background: url('public/images/fond.png') repeat;
    font-family: 'OpenSans', 'sans-serif';
    color: #555;
}
.container {
    width: 1220px;
    margin: 0 auto;
}
.container::after {
    content: "";
    display: block;
    clear: both;
}
.leftContent {
    width: 70%;
    float: left;
}
.rightContent {
    width: 30%;
    float: left;
}
